## 1 - Packages ##

First, you need to import all the packages that you will need during this assignment. 
- [numpy](www.numpy.org) is the fundamental package for scientific computing with Python.
- [pandas](pandas.pydata.org/) is an important package for Python data analysis.
- [jdc](https://alexhagen.github.io/jdc/) : Jupyter magic that allows defining classes over multiple jupyter notebook cells.

In [2]:
!pip install jdc
import numpy as np
import pandas as pd
import jdc

Collecting jdc
  Downloading https://files.pythonhosted.org/packages/5a/cb/9afea749985eef20f3160e8826a531c7502e40c35a038dfe49b67726e9a0/jdc-0.0.9-py2.py3-none-any.whl
Installing collected packages: jdc
Successfully installed jdc-0.0.9

## 2 - Required Methods ##

### 2.1 - How to display the column names of a given dataset ###
- Pandas [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)
- Pandas [pandas.DataFrame.columns](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.columns.html)

In [3]:
# Define a DataFrame object
df_sample = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])

# print the content of the DataFrame
print(df_sample)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
# Print the column names of the dataset
print(df_sample.columns)

Index(['a', 'b', 'c'], dtype='object')

#### Graded Excercise #### 
Print out the column names of the training set that will be used in this assignment

In [6]:
# Will be graded

# Load the training data that we will use in this assignment
df_train = pd.read_csv('train.csv')

# Print the column names of the training data
### START CODE HERE ### (≈ 1 line of code)
# Replace ??? with the correct code
print(df_train.columns)
### END CODE HERE ###

Index(['wesley', 'romulan', 'poetry', 'honor', 'tea', 'barclay', 'class'], dtype='object')

### 2.2 - How to determine the unique values in a given array ###
- [numpy.unique](https://numpy.org/doc/stable/reference/generated/numpy.unique.html)

In [7]:
# Return the unique values in an array
arr = np.array([1, 1, 1, 1, 2, 2, 2, 3, 3, 4])
np.unique(arr)

array([1, 2, 3, 4])

In [8]:
# Return both the unique values and the count of each value
np.unique(arr, return_counts=True)

(array([1, 2, 3, 4]), array([4, 3, 2, 1]))

In [9]:
# You can store the uniuqe values and their counts in variables
values, counts = np.unique(arr, return_counts=True)
print("Unique values are", values)
print("Corresponding counts are", counts)

Unique values are [1 2 3 4]
Corresponding counts are [4 3 2 1]

#### Graded Excercise #### 
Print out the unique values in the column of "wesley" and their corresponding counts
- hint: the "wesley" column can be obtained by using df['wesley']

In [10]:
### START CODE HERE ### (≈ 1 line of code)
values, counts = np.unique(df_train['wesley'], return_counts=True)
### END CODE HERE ###
print("Unique values in 'wesley' are", values)
print("Corresponding counts are", counts)

Unique values in 'wesley' are [0 1]
Corresponding counts are [408 392]

### 2.3 - DataFrame.where ###
-[DataFrame.where](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.where.html)
- Identify a subset based on certain conditions

In [11]:
# For df_sample above, we want to find out items whose a >= 4
df_sample.where(df_sample['a'] >= 4)

     a    b    c
0  NaN  NaN  NaN
1  4.0  5.0  6.0
2  7.0  8.0  9.0

As you can see, if items are evaluated to be false, they are replaced by "NaN".
- [DataFrame.dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)
- It can drop the "NaN" rows

In [12]:
df_sample.where(df_sample['a'] >= 4).dropna()

     a    b    c
1  4.0  5.0  6.0
2  7.0  8.0  9.0

In [13]:
# Drop NaN and return a specific column
df_sample.where(df_sample['a'] >= 4).dropna()['a']

1    4.0
2    7.0
Name: a, dtype: float64

#### Graded Exercise ####
- Return the list of items where tea=1 in our training set
- Only show the "class" column in your result

In [16]:
### START CODE HERE ###
# Replace ??? with the correct code
df_train.where(df_train['tea'] == 1).dropna()['tea']
### END CODE HERE ###

2      1.0
7      1.0
9      1.0
10     1.0
15     1.0
      ...
788    1.0
792    1.0
793    1.0
797    1.0
799    1.0
Name: tea, Length: 403, dtype: float64

## 3 - Fundamentals in Decision Tree ##

### 3.1 - Entropy ###
- As usual, we will define a class named "Decision_Tree"
- We will implement entropy function:
$$ H = -\sum_{i=1}^{n} P_{i} * \log_{2}P_{i}$$

In [18]:
class Decision_Tree():
    def entropy(self, column):
        """
        Calculate the entropy of a given data column.
        column: the data column
        """
        
        # the list that will contain every -pi * log(pi)
        ent_list = []
        
        ### START CODE HERE ###
        # Determine the unique values in the column and their corresponding counts of each unique value
        values, counts = np.unique(column, return_counts=True)
        
        # The number of disctint values
        num_distinct_values = values.shape(1)
        # the total number of items in the column
        total_items_in_column = counts.shape(1)
        print(num_distinct_values)
        print(total_items_in_column)
        
        for i in range(num_distinct_values):
            # calculate the probability pi for the ith value 
            p_i = 
            # calculate -pi * log(pi)
            ent_i =  -p_i * np.log(pi)
            #put the result into the list
            ent_list.append(ent_i)
        
        ### END CODE HERE ###

        return np.sum(ent_list)

### 3.2 - Information Gain ###
$$ IG(S|a) = entropy(S) - \sum_{v \in values(a)} \frac {|S_{v}|} {|S|} * entropy(S_{v})$$
where
- $IG(S|a)$ means the information gain if we split data S using attribute a
- $|S_{v}|$ means the number of items with $a = v$
- $|S|$ means the total number of items in S
- $\frac {|S_{v}|} {|S|}$ is the probability of $ a = v $

In [ ]:
%%add_to Decision_Tree
def Infomation_Gain(self, S, entropy_before_splitting, a, class_name = "class"):
    """
    Calculate the information gain of a dataset. This function takes four parameters:
    1. S: the overall dataset (See the equation above)
    2. entropy_before_splitting: the entropy before splitting
    3. a: the attribute that we will use to split the data (See the equation above)
    4. class_name = the class that the set of data is classified as
    """    
    # the list that will contain the weighted entropy of each child, i.e., Pv * Hv, 
    #       where Pv is the probability of being in the child node v, and
    #       Hv is the entropy of child node v: entropy(Sv).
    H_list = []
    
    ### START CODE HERE ###
    #determine the unique values and their corresponding counts for the split attribute 
    unique_vals, counts= 
    
    #calculate the total number of items in S
    total_S = 
    #Calculate the total number of unnique values with regard to attribute a
    total_Sv = 
    
    for i in range(total_Sv):
        # the probablity of being in the ith child node
        P_i = 
        # the value v of the ith child
        v = 
        # the subset Sv, where a = v
        # hint: use DataFrame.where and only return the "class" column
        S_v = 
        # the entropy of child node Sv
        H_i = 
        # put P_i * H_i into the H_list 
        H_list.append(P_i * H_i)
    
    # calculate the conditional entropy based on H_list
    conditional_entropy = 
    ### END CODE HERE ###
    
    #Calculate the information gain
    Information_Gain = entropy_before_splitting - conditional_entropy
    return Information_Gain

## 4 - Experiment ##

In [ ]:
DT = Decision_Tree()

### START CODE HERE ###
# Data set has been obtained in df_train above
# Calculate the entropy before splitting based on df_train
entropy_before_split = 
print("Entropy before splitting is ", entropy_before_split)

#calcuate the information gain for attribute "ig"
ig = 
print("Information gain for tea is ", ig)
### END CODE HERE ###